{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block header %}
<div class="row">
    <div class="container-fluid header-main" style="background: url(assets/img/header.png) no-repeat center; background-size: cover">
    <p><a href="/educom-verrukkulluk/index.php">
    <img href="" src="assets/img/logo-v2.png" style="scale: 75%"/></a></p>
    </div>
</div>
{% endblock %}


{# nu de block content op in de main pagina vullen #}
{% block content %}
<div class="col-md-8" style="padding: 0px">
<div class="container-fluid">

{# Loop #}
{# {% set counter = 0 %} #}
{% for record in data %}

    {% if loop.index0 % 2 == 0 %}
        <div class="row" style="margin-top: 20px">
    {% endif %}

    <div class="col-md-6">
    <div class="block border shadow">
        <div class="row">
            <div class="col-md-12" >
                <div class="block coverimage" style="background: url({{ record.image }}) no-repeat center; background-size: cover">
                </div>
            </div>
        </div>
        <div class="row" style="padding: 20px">
            <div class="col-md-8">
                <h2> {{ record.title }} </h2>
            </div>
            <div class="col-md-4">
                <i class="far fa-star fa-lg"></i>
                <i class="far fa-star fa-lg"></i>
                <i class="far fa-star fa-lg"></i>
                <i class="far fa-star fa-lg"></i>
                <i class="far fa-star fa-lg"></i>
            </div>
        </div>
        <div class="row" style="padding: 20px">
            <div class="col-md-12">
                {{ record.short_descr }}
            </div>
        </div>
        <div class="row" style="padding: 20px">
            <div class="col-md-4 smullen">
                {% set recipe_id = record.id %}
                {% set hyperlink = ["/educom-verrukkulluk/index.php?recipe_id=", recipe_id, "&action=detail"]|join %}
                <a href="{{ hyperlink | raw }}"> <h2> Smullen! </h2> </a>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
               <i class="fas fa-user-friends icon"></i>
                4
            </div>
            <div class="col-md-2">
                <i class="fas fa-euro-sign icon"></i>
                {% set price = (record.sumTotalPrice/100) %}
                {{ price|round(2, 'ceil')}}
            </div>
            <div class="col-md-2">
                <i class="fas fa-fire-alt icon"></i>
                {% set calories = record.sumTotalCalories %}
                {{ calories|round(0, 'ceil')}}
            </div>
        </div>
    
    </div>
    </div>

    {% if loop.index0 % 2 == 1 %}
        </div>
    {% endif %}
    
 

{% endfor %}


</div>
</div>
{% endblock %}
